.item {
  height:100px;
  width: 100px;
}

.form {
  /*text-align: center;
  width: 100px;
  height:400px;*/
}

.ng-invalid.ng-dirty{
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}
